<div id="<%= dom_id step %>" style="position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; border:none;">

  <%= form_with(model: [@lesson, step], local: true, id: "test-form", html: {'data-turbo' => "false", style: "display: none;" }) do |form| %>

    <!-- =======================
    Newsletter START -->
    <section class="pt-5 pt-lg-0">
      <div class="container position-relative overflow-hidden">
        <!-- SVG decoration -->
        <figure class="position-absolute top-50 start-50 translate-middle ms-3">
          <svg>
            <path class="fill-white opacity-3" d="m496 22.999c0 10.493-8.506 18.999-18.999 18.999s-19-8.506-19-18.999 8.507-18.999 19-18.999 18.999 8.506 18.999 18.999z"/>
            <path class="fill-white opacity-3" d="m775 102.5c0 5.799-4.701 10.5-10.5 10.5-5.798 0-10.499-4.701-10.499-10.5 0-5.798 4.701-10.499 10.499-10.499 5.799 0 10.5 4.701 10.5 10.499z"/>
            <path class="fill-white opacity-3" d="m192 102c0 6.626-5.373 11.999-12 11.999s-11.999-5.373-11.999-11.999c0-6.628 5.372-12 11.999-12s12 5.372 12 12z"/>
            <path class="fill-white opacity-3" d="m20.499 10.25c0 5.66-4.589 10.249-10.25 10.249-5.66 0-10.249-4.589-10.249-10.249-0-5.661 4.589-10.25 10.249-10.25 5.661-0 10.25 4.589 10.25 10.25z"/>
          </svg>
        </figure>
        
        <div class="bg-grad p-3 p-sm-5 rounded-3">
          <div class="row justify-content-center position-relative">
            <!-- SVG decoration -->
            <figure class="fill-white opacity-1 position-absolute top-50 start-0 translate-middle-y">
              <svg width="141px" height="141px">
                <path d="M140.520,70.258 C140.520,109.064 109.062,140.519 70.258,140.519 C31.454,140.519 -0.004,109.064 -0.004,70.258 C-0.004,31.455 31.454,-0.003 70.258,-0.003 C109.062,-0.003 140.520,31.455 140.520,70.258 Z"/>
              </svg>
            </figure>
            <!-- Newsletter -->
            <div class="col-12 position-relative my-2 my-sm-3">
              <div class="row align-items-center">
                <!-- Title -->
                <div class="col-lg-12">
                  <h3 class="text-white mb-3 mx-3"><%= step.question %></h3>

                  <!-- Creiamo nuovo Record -->
                  <%= form.fields_for :answers, Answer.new do |answer| %>
                    <%= render "answer_fields", form: answer %>
                  <% end %>
                  <div class="actions bg-dark-input">
                    <%= form.submit class: "btn btn-lg btn-primary"%>
                    <%#= form.submit "esegui", class: "btn btn-lg btn-primary" %>
                  </div>
                  
                </div>
              </div>
            </div>
          </div> <!-- Row END -->
        </div>
      </div>
    </section>
    <!-- =======================
    Newsletter END -->


    <!-- da eliminare -->
    <%# <p> %>
      <%# <strong>Answers</strong> %>
      <%# <ul> %>
        <%# step.answers.each do |answer| %>
          <%# <li> %>
            <%#= answer.content %> <%#- by%> <%#= answer.user.name %>
          <%# </li> %>
        <%# end %>
      <%# </ul>
    </p>

    <p>
      <strong>Answer fissa:</strong> %>
      <%#= step.answer %>
    <%# </p> %>

    <%# <p> %>
      <%# <strong>Lesson:</strong> %>
      <%#= step.lesson_id %>
      <%#= step.lesson.name %>
    <%# </p> %>
    <!-- --- -->

  <% end %>
</div>
