<!DOCTYPE html>
<html data-theme="light" data-darkpath="<%=stylesheet_path "edu/scss/style-dark.css" %>" data-lightpath="<%=stylesheet_path "edu/scss/style.css" %>">
  <head>
    	<!-- Meta Tags -->
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta name="author" content="Flavio Bordoni">
  	<meta name="description" content="UbuntuDream - UD, Visualization and Education">
    <title><%= yield(:html_head_title) %> | Baseline7_0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %> <!--to fix broken UI adding bootstrap-->
    <%= stylesheet_link_tag "edu/scss/style", "data-turbo-track": "reload", id: 'style-switch' %>
    <%= javascript_importmap_tags %>
    <!-- Template Functions -->
    <%#= javascript_import_module_tag "edu/functions.js" %>
    <%#= javascript_include_tag 'functions.js', "data-turbo-track": "reload" %>

		<%= favicon_link_tag asset_path('edu/favicon-ubuntudream.png') %>

    <style>
    /*form-hidden*/
    #test-form {
      width: 100%;
      padding: 50px 0;
      text-align: center;
      background-color: lightblue;
      margin-top: 20px;
      display: none; /*non visualizziamo il form*/
    }
    #test-form .form-control {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 10px;
      /*float: none;*/
    }
    #test-form .btn {
      width: 90%;
    }
    </style>
    
  </head>

  <body>



<!-- Header START -->
<header class="navbar-light navbar-sticky header-static">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid px-3 px-xl-5">
			<!-- Logo START -->
			<a class="navbar-brand" href="index.html">
        <%= image_tag "edu/logo.svg", class: "light-mode-item navbar-brand-item", alt: "logo" %>
        <%= image_tag "edu/logo-light.svg", class: "dark-mode-item navbar-brand-item", alt: "logo" %>
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

				<!-- Nav category menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown dropdown-menu-shadow-stacked">
						<a class="nav-link bg-primary bg-opacity-10 rounded-3 text-primary px-3 py-3 py-xl-0" href="#" id="categoryMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-ui-radios-grid me-2"></i><span>Languages</span></a>
						<ul class="dropdown-menu" aria-labelledby="categoryMenu">
							<li> <a class="dropdown-item" href="#">Italiano</a></li>
							<li> <a class="dropdown-item" href="#">Inglese</a></li>
							<li> <a class="dropdown-item active" href="#">Portoghese</a></li>
						</ul>
					</li>
				</ul>
				<!-- Nav category menu END -->

				<!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown">
						<a class="nav-link" href="#" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Esercizi  </span><i class="bi bi-ui-radios-grid me-2"></i></a>
						<ul class="dropdown-menu" aria-labelledby="demoMenu">
							<li><%= link_to "Dipinti", lessons_path, class: "dropdown-item active" %></li>
							<li> <a class="dropdown-item" href="#">Gratitudine</a></li>
							<li> <a class="dropdown-item" href="#">Dissociazione</a></li>
							<li> <a class="dropdown-item" href="#">Coaching 12 fasi</a></li>
							<%# <li> <a class="dropdown-item" href="#">Home Tutor</a></li>
							<li> <a class="dropdown-item" href="#">Home School <span class="badge bg-success ms-2 smaller">New</span></a></li>
							<li> <a class="dropdown-item" href="#l">Home Abroad <span class="badge bg-success ms-2 smaller">New</span></a></li>
							<li> <hr class="dropdown-divider"></li>
							<li> <a class="dropdown-item" href="request-demo.html">Request a demo</a></li>
							<li> <a class="dropdown-item" href="book-class.html">Book a Class</a></li>
							<li> <a class="dropdown-item" href="request-access.html">Free Access</a></li>
							<li> <a class="dropdown-item" href="university-admission-form.html">Admission Form</a></li> %>
						</ul>
					</li>

					<!-- Nav item 2 Pages -->
					<%# <li class="nav-item dropdown">
						<a class="nav-link" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
						<ul class="dropdown-menu" aria-labelledby="pagesMenu">
							<li> <a class="dropdown-item" href="instructor-list.html">Instructor List</a></li>
							<li> <a class="dropdown-item" href="instructor-single.html">Instructor Single</a></li>
							<li> <a class="dropdown-item" href="become-instructor.html">Become an Instructor</a></li>
							<li> <a class="dropdown-item" href="abroad-single.html">Abroad Single <span class="badge bg-success ms-2 smaller">New</span></a></li>
							<li> <a class="dropdown-item" href="faq.html">FAQs</a></li>
							<li> <a class="dropdown-item" href="error-404.html">Error 404</a></li>
							<li> <a class="dropdown-item" href="coming-soon.html">Coming Soon</a></li>
							<li> <a class="dropdown-item" href="cart.html">Cart</a></li>
							<li> <a class="dropdown-item" href="checkout.html">Checkout</a></li>
							<li> <a class="dropdown-item" href="empty-cart.html">Empty Cart</a></li>
							<li> <a class="dropdown-item" href="wishlist.html">Wishlist</a></li>
						</ul>
					</li> %>

					<!-- Nav item 3 AccountMenu -->
					<%# <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="accounntMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accounts</a>
						<ul class="dropdown-menu" aria-labelledby="accounntMenu">							
							<li> <a class="dropdown-item" href="admin-dashboard.html"><i class="fas fa-user-cog fa-fw me-1"></i>Admin</a> </li>
							<li> <hr class="dropdown-divider"></li>
							<li> <a class="dropdown-item" href="instructor-edit-profile.html"><i class="fas fa-fw fa-edit me-1"></i>Edit Profile</a> </li>
							<li> <a class="dropdown-item" href="instructor-setting.html"><i class="fas fa-fw fa-cog me-1"></i>Settings</a> </li>
							<li> <a class="dropdown-item" href="instructor-delete-account.html"><i class="fas fa-fw fa-trash-alt me-1"></i>Delete Profile</a> </li>	
						</ul>
					</li> %>

					<!-- Nav item 4 link-->
					<%# <li class="nav-item dropdown">
						<a class="nav-link" href="#" id="advanceMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-ellipsis-h"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-end min-w-auto" data-bs-popper="none">
							<li> 
								<a class="dropdown-item" href="https://support.webestica.com/" target="_blank">
									<i class="text-warning fa-fw bi bi-life-preserver me-2"></i>Support
								</a> 
							</li>
							<li> 
								<a class="dropdown-item" href="docs/index.html" target="_blank">
									<i class="text-danger fa-fw bi bi-card-text me-2"></i>Documentation
								</a> 
							</li>
							<li> <hr class="dropdown-divider"></li>
							<li> 
								<a class="dropdown-item" href="https://eduport.webestica.com/rtl/" target="_blank">
									<i class="text-info fa-fw bi bi-toggle-off me-2"></i>RTL demo
								</a> 
							</li>
							<li> 
								<a class="dropdown-item" href="https://themes.getbootstrap.com/store/webestica/" target="_blank">
									<i class="text-success fa-fw bi bi-cloud-download-fill me-2"></i>Buy Eduport!
								</a> 
							</li>
							<li> <hr class="dropdown-divider"></li>
							<li> 
								<a class="dropdown-item" href="docs/alerts.html" target="_blank">
									<i class="text-orange fa-fw bi bi-puzzle-fill me-2"></i>Components
								</a> 
							</li>
						</ul>
					</li> %>
				</ul>
				<!-- Nav Main menu END -->

				<!-- Nav Search START -->
				<div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
					<div class="nav-item w-100">
						<form class="position-relative">
							<input class="form-control pe-5 bg-transparent" type="search" placeholder="Search" aria-label="Search">
							<button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
						</form>
					</div>
				</div>
				<!-- Nav Search END -->
			</div>
			<!-- Main navbar END -->

			<!-- Profile START -->
			<div class="dropdown ms-1 ms-lg-0">
				<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
					<%#= image_tag "edu/avatar/01.jpg", class: "avatar-img rounded-circle", alt: "avatar" %>
					<%= image_tag current_user.profile_image, class: "avatar-img rounded-circle", alt: "avatar" %>
				</a>
				<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
					<!-- Profile info -->
					<li class="px-3">
						<div class="d-flex align-items-center">
							<!-- Avatar -->
							<div class="avatar me-3">
								<%#= image_tag "edu/avatar/01.jpg", class: "avatar-img rounded-circle shadow", alt: "avatar" %>
								<%= image_tag current_user.profile_image, class: "avatar-img rounded-circle", alt: "avatar" %>
							</div>
							<div>
								<!--<a class="h6" href="#">Lori Ferguson</a>-->
								<%= link_to current_user.username, user_path(current_user), class: "h6" %>
								<p class="small m-0"><%= current_user.email %></p>
							</div>
						</div>
						<hr>
					</li>
					<!-- Links -->
					<!--<li><a class="dropdown-item" href="#"><i class="bi bi-person fa-fw me-2"></i>Edit Profile</a></li>-->
					<li>  
						<%= link_to edit_user_path(current_user), class: "dropdown-item" do %>
							<i class="bi bi-person fa-fw me-2"></i>Edit Profile
						<% end %>
					</li>
					<li><a class="dropdown-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>Account Settings</a></li>
					<li><a class="dropdown-item" href="#"><i class="bi bi-info-circle fa-fw me-2"></i>Help</a></li>
					<%#<li><a class="dropdown-item bg-danger-soft-hover" href="#"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>%>
					<li>
						<%= button_to destroy_user_session_path, method: :delete, class: "dropdown-item bg-danger-soft-hover" do %>
							<i class="bi bi-power fa-fw me-2"></i>Sign Out
						<% end %>
					</li>
					<li> <hr class="dropdown-divider"></li>
					<!-- Dark mode switch START -->
					<li data-controller="darktheme">
						<div class="modeswitch-wrap" id="darkModeSwitch" data-action="click->darktheme#modeswitch">
							<div class="modeswitch-item">
								<div class="modeswitch-icon"></div>
							</div>
							<span>Dark theme</span>
						</div>
					</li> 
					<!-- Dark mode switch END -->
				</ul>
			</div>
			<!-- Profile START -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->





    <%= yield %>
    <% if notice %><p class="alert alert-info"><%= notice %></p><% end %>
    <% if alert %><p class="alert alert-warning"><%= alert %></p><% end %>

    <!-- Template Functions -->
    <!--<script src="assets/js/functions.js"></script>-->
    <%#= javascript_include_tag 'functions.js' %>
  </body>
</html>
