<!DOCTYPE html>
<html data-theme="light" data-darkpath="<%=stylesheet_path "edu/scss/style-dark.css" %>" data-lightpath="<%=stylesheet_path "edu/scss/style.css" %>">
  <head>
    	<!-- Meta Tags -->
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta name="author" content="Flavio Bordoni">
  	<meta name="description" content="UbuntuDream - UD, Visualization and Education">
    <title><%= yield(:html_head_title) %> | ENTRANCE TO Baseline7_0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %> <!--to fix broken UI adding bootstrap-->
    <%= stylesheet_link_tag "edu/scss/style", "data-turbo-track": "reload", id: 'style-switch' %>
    <%= javascript_importmap_tags %>
    <!-- Template Functions -->
    <%#= javascript_import_module_tag "edu/functions.js" %>
    <%#= javascript_include_tag 'functions.js', "data-turbo-track": "reload" %>

  </head>

  <body>
    <%= yield %>

    <% if notice %><p class="alert alert-info"><%= notice %></p><% end %>
    <% if alert %><p class="alert alert-warning"><%= alert %></p><% end %>
  </body>
</html>
